  
 *{
    padding: 0px;
    margin:0px;
}

body {
  
    margin: 0 ;
    text-align: center;
padding: 15px;
  }
 
  .BordeBanner{
      margin: 0 auto;
      width: 100%;
      border: 1px solid silver;
      border-radius: 10px;
      background-color: #98DFEA;
      padding: 5px;
  }
  .banner {

    width: 300px;
    height: 600px;
    margin: 0 auto;
    background-image: url("http://i.imgur.com/0ggd0lT.jpg");
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  }
  
  .inner-banner {
    position: relative;
    top: 30%; left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
  }
  
  .banner p {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #25283D;
  }
  
  button {
    width: 200px;
    height: 50px;
    background-color: #07BEB8;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 5px;
    border: none;
    
  }
  
  button:hover {
    background-color: #98DFEA;
    color: #07BEB8;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
  }